version: 2.1

orbs:
  sonarcloud: sonarsource/sonarcloud@2.0.0

jobs:
  build-and-test:
    docker:
      - image: cimg/node:18.0
      - image: cimg/openjdk:17.0
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: npm install
      - run:
          name: Run tests
          command: npm test
      - sonarcloud/scan
      - run:
          name: Build and analyze
          command: |
            mvn clean verify sonar:sonar \
              -Dsonar.projectKey=st10391380 \
              -Dsonar.organization=st10391380 \
              -Dsonar.host.url=https://sonarcloud.io \
              -Dsonar.login=$SONAR_TOKEN

workflows:
  main:
    jobs:
      - build-and-test:
          context: sonarcloud